body {
	background-color: #262021;
	background-image: url(8.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	 
    padding: 100px; 
    margin-left: 10px; 
	margin-right: 100px; 
	padding-bottom: 550px;
}
